{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="display-4">Welcome to the Workshop by <a href="https://webundco.com" target="_blank">web&amp;Co</a></h1>
        <p class="lead">Your Symfony project is ready!</p>
    </div>
{% endblock %}
